<div class="row">
    {{#each avatars}}
    <div class="col-md-2">
        <div class="card">
            <img src="{{imageURL}}" class="card-img-top" alt="Saved Avatar">
            <div class="card-body pb-2 text-center">
                <h5 class="card-title"><a href="{{linkID}}" target="_blank" style="text-decoration: none;">{{seed}}</a>
                </h5>
                <button type="button" class="btn btn-outline-danger btn-sm"
                    id="deleteAvatar" data-avatarID="{{linkID}}" onclick="deleteAvatar(event)">Remove</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>