body {
    background-image: url('./background.png');
    background-size: cover;
}

@media (max-width: 1440px) {
    body {
        background-position: 38%;
    }
}

.container {
    background-color: #F4F7FC;
}

*::selection {
    color: orange;
    background: rgb(47, 47, 47);
}

.propertyPanel {
    max-width: 270px;
}


@media (max-width: 768px) {
    .propertyPanel {
        max-width: 100%;
    }
}